@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 97vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.start-end-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 10px;
}

.overlay-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.results {
  font-size: 1.4rem;
}

.start {
  border: none;
  padding: 10px 15px;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.game-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.game {
  max-width: 500px;
}

.question-counter {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.question {
  font-size: 1.8rem;
  font-weight: 800;
}

.option-div {
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.divider {
  margin: 15px 0px 20px 0px;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 0.5rem;
  background-color: rgb(224, 224, 224);
  border: none;
  font-weight: 300;
  font-size: 1.1rem;
}

.option-div[data-selected="yes"] {
  background-color: rgb(224, 224, 224);
  border: 1px solid transparent;
  color: rgb(34, 30, 30);
}

.icon {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 1.7rem;
}

.dark {
  background-color: rgb(34, 30, 30);
  color: rgb(226, 226, 226);
}
