body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  height: 100vh;
}

.start-end-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.start {
  border: none;
  padding: 10px 15px;
  border-radius: 0.5rem;
}

.game-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question-counter {
  font-size: 0.85rem;
}
